.grid.col-md-4.col-sm-6
  .borders
    %row
      .col-xs-12.nopadding
        %script{:async => true, :src => "//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
        %ins.adsbygoogle{:style => "display:block", :"data-add-client" => "ca-pub-3409333397266057", :"data-ad-slot" => "7579463322", :"data-ad-format" => "auto"}
        %script
          (adsbygoogle = window.adsbygoogle || []).push({});
      .clear_box
