.grid.col-md-4.col-sm-6
  .borders
    %row
      .col-xs-12.nopadding
        %a{:href => "/ticket_reservations/edit", :target => '_blank'}
          %img.img-responsive{:src => "/img/ticket_reservations.png"}/
      .clear_box
