- user = @app.user.part.user
= user.family_name + ' ' + user.name + 'さん'

おつかれさまです。
==
= @app.user.part.name + 'パートに届け出がありました。'
団員専用サイトにログインし、内容を確認、承認してください。
==
https://priv.hal.mu/
==
==
以上です。
==
なにかお困りの場合は 井上ゆう y@inou.eu までお気軽にお問い合わせください。
