.start.container
  %h1.text-center.title チーム選択
  .teams
    .team.a
      %p A
    .team.b
      %p B
    .team.c
      %p C
    .team.d
      %p D
    .team.e
      %p E
    .team.f
      %p F
    .team.g
      %p G
    .team.h
      %p H
  .display-point

.stage.container.hidden-height
  .image.ease
  .main-stage
    .count.height-hidden.ease 0
    .timer.height-hidden.ease 
    .subject.height-hidden.ease 
      %p#question お題
  .start-button.bg-info START
  .return-button.height-hidden BACK


%audio#correct{:preload => 'auto'}
  %source{:src => '/img/gesture/correct.mp3'}
%audio#gong{:preload => 'auto'}
  %source{:src => '/img/gesture/gong.mp3'}


=# javascript_include_tag 'recreation'