.start.container
  %h1.text-center.title チーム選択
  .teams
    .team.a
      %p A
    .team.b
      %p B
    .team.c
      %p C
    .team.d
      %p D
    .team.e
      %p E
    .team.f
      %p F
    .team.g
      %p G
    .team.h
      %p H
