= @practice_plns[0].pln_date.strftime("%Y年 %m月 %d日")
- @practice_plns.each do |pln|
  .bs-callout.bs-callout-default
    %h4
      = pln.practice_mode.name + " " +  (pln.begining / 100).floor.to_s + ':' + pln.begining.to_s[-2, 2] + "〜" + (pln.ending / 100).floor.to_s + ':' + pln.ending.to_s[-2, 2]
    %table
      %tr
        %td
          = pln.practice_place.place_name + " " + pln.room
      %tr
        %td
          = simple_format(pln.description) 
