%h1 OFXファイル連携(口座取引取り込み)
%p &nbsp;
= form_tag "/account_transactions/import", :multipart => true, :html => {:class => "form-horizontal"} do 

  .form-group
    %label.col-sm-4.control-label OFXファイル
    .col-sm-8
      = file_field_tag "file", :class => "form-control", :required => 'true', :accept => '.ofx,application/x-ofx'
  %p &nbsp;
  .actions
    %label.col-sm-4.control-label 
    .col-sm-8.text-right
      = submit_tag 'アップロード', :class => "btn btn-primary", :data => { :confirm => 'ファイルをアップロードします。' }
 
%p &nbsp;
 