%h1 共有ファイル
%p &nbsp;
%table{:width => 520, :border => 'none'}
  - tmp_date = nil
  - @sharedfiles.each do |file|
    - if tmp_date != file.created_at.to_date
      - tmp_date = file.created_at.to_date
      %tr
        %td{:colspan => 4}
          = file.created_at.strftime '%Y/%m/%d'
    %tr
      %td{:width => 20} &nbsp;
      %td{:width => 300}= file.name
      %td{:width => 150}
        %i.fa.fa-download
        ダウンロード
      %td{:width => 50}
        - if file.user == current_user
          = button_tag '削除', :type => 'button', :onclick => "javascript: alert('削除します。よろしいですか？');$('#sharedfile').load('/sharedfiles/#{file.id};", :class => 'btn btn-xs btn-danger', :method => :delete


