= @personal_data.family_name + ' ' + @personal_data.name + 'さん'
==
団員専用サイトが新しくなりました。
共通で使用していたパスワードを撤廃し、ソーシャルログインを採用することにより
いろいろなサービスを提供できるようになりました。
==
また、それに伴い、3Aへの入力の際にもログインが必要となりました。
(その分、パートと名前の入力がなくなりました！)
==
ログインとアカウントの設定を行ってください。
==
1.団員専用サイトにログインします（スマホ対応）
==
https://priv.hal.mu/
にアクセスしてください。
※「サーバーの識別情報を検証できません」や、「この接続ではプライバシーが保護されません」と出てきますが、問題ありません。現在、証明書を依頼・準備しております。
chromeは詳細設定から「アクセスする」を選択すると進めます。
==
ログインに使用するサービスを選択してください。
（ご自身でアカウントをお持ちのものを選択してください。）
==
2.紐付けに必要な情報を入力します。
==
= @personal_data.family_name + 'さんの認証トークンは「' + @personal_data.initial_access_token + '」です。'
メールアドレスはMLに使用しているものが同期されているはずですが、
エラーが出る場合は名簿側で更新されていない可能性があります。
古いアドレスを入力してログイン後に変更するようにしてください。
わからない場合は 井上ゆう y@inou.eu までお問い合わせ下さい。
==
==
以上で終了です。
==
==
なにかお困りの場合は 井上ゆう y@inou.eu までお気軽にお問い合わせください。
