= @personal_data.family_name + ' ' + @personal_data.name + 'さん'

Orchestra HALへようこそ！
==
団員登録に必要な情報の入力をお願いします。
==
1.まず、団員専用サイトにログインします
==
https://priv.hal.mu/
にアクセスしてください。
ログインに使用するサービスを選択してください。
（ご自身でアカウントをお持ちのものを選択してください。）
==
= @personal_data.family_name + 'さんの認証トークンは「' + @personal_data.initial_access_token + '」です。'
==
2.ログイン後、登録情報を入力してください
==
==
以上で終了です。
==
==
なにかお困りの場合は 井上ゆう y@inou.eu までお気軽にお問い合わせください。
