!!! Strict
%html{:lang => "ja-JP", "xml:lang" => "ja-JP", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "ja", "http-equiv" => "Content-Language"}/
    %meta{:content => "all", :name => "robots"}/
    %title Orchestra HAL Official Website
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "text/css", "http-equiv" => "Content-Style-Type"}/
    %meta{:content => "text/javascript", "http-equiv" => "Content-Script-Type"}/
    %meta{:content => "no", "http-equiv" => "imagetoolbar"}/
    %link{:href => "/default.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/js/jquery.neosmart.fb.wall.css", :rel => "stylesheet", :type => "text/css"}/
    / Latest compiled and minified CSS
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css", :rel => "stylesheet"}/
    / Optional theme
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css", :rel => "stylesheet"}/
    %script{:charset => "UTF-8", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :src => "/js/jquery.easing.1.3.js", :type => "text/javascript"}
    %script{:charset => "UTF-8", :src => "/js/jquery.vgrid.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.neosmart.fb.wall.js", :type => "text/javascript"}
    %script{:src => "/js/php_date-min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.leanModal.min.js", :type => "text/javascript"}
    / Latest compiled and minified JavaScript
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46855496-1', 'hal.mu');
      ga('send', 'pageview');
    :javascript
       $(document).ready(function(){
      	
      	$("a[rel*=leanModal]").leanModal({overlay : 0.6, closeButton: ".modal_close"});
      
      	$(".borders")
              	.css("border-color",(function(){return "#" +  Math.floor(Math.random()* 512 + 1)}));
      			
      	$(function() {
      	
      		//詳細情報読込系
      	$("#recording").load("/podcast/rehearsal_prev");
      	
      	
      	});
        });
      	
        function getiframeWidth(){
          var windowWidth = getBrowserWidth();
          var result = 300;
          while(result < (windowWidth - 360)){
            result = result + 360;
          }
          return result;
        }

                function getBrowserWidth ( ) {
          if ( window.innerWidth ) { return window.innerWidth; }
          else if ( document.documentElement && document.documentElement.clientWidth != 0 ) { return document.documentElement.clientWidth; }
          else if ( document.body ) { return document.body.clientWidth; }
          return 0;
        }
      
      $(function(){
      	//setup
      	var vg = $("#grid-content").vgrid({
      		easing: "easeOutQuint",
      		useLoadImageEvent: true,
      		useFontSizeListener: true,
      		time: 400,
      		delay: 20,
      		fadeIn: {
      			time: 500,
      			delay: 50
      		},
      		onStart: function(){
      			$("#maincontent").animate({width: getiframeWidth()});
      		},
      		onFinish: function(){
      			$("#message2")
      				.stop()
      				.css("visibility", "visible")
      				.fadeOut("slow",function(){
      					$(this).show().css("visibility", "hidden");
      				})
      
      		}
      	});
      	
      	      	
      	 $(document).resize(function(){
      	 	vg.vgrefresh(null, null, null);
      	});
      	
      });
      
      
      
      //]]>
  %body.body
    .container
      .row
        .heading-container.col-md-12.col-sm-12
          #heading_upper
            %img{:height => "220", :src => "/img/top_right.png", :width => "280"}/
          .clear_box
      .row
        #grid-content.col-md-12.col-sm-12.nopadding
          #aboutus.grid.col-md-4.col-sm-6
            .borders
              %row
                .col-xs-12.nopadding
                  %img.img-responsive{:src => "/img/login.png"}/
                .grid_content.indent
                  .pad
                    %p ログインに使用するサービスを選択してください。すでにログインしたことのある方は同じサービスを選択してください。
                    %p &nbsp;

                    .social-buttons.hidden-xs{:style => 'text-indent: initial'}
                      %p &nbsp;
                      %a.btn.btn-lg.btn-block.btn-social.btn-facebook{:href => '/user/auth/facebook'}
                        %i.fa.fa-facebook
                        facebookでログイン
                      %p &nbsp;
                      %a.btn.btn-lg.btn-block.btn-social.btn-twitter{:href => '/user/auth/twitter'}
                        %i.fa.fa-twitter
                        ツイッターでログイン
                      %p &nbsp;
                      %a.btn.btn-lg.btn-block.btn-social.btn-google{:href => '/user/auth/google'}
                        %i.fa.fa-google
                        Googleでログイン
                      %p &nbsp;
                      %a.btn.btn-lg.btn-block.btn-social.btn-github{:href => '/user/auth/github'}
                        %i.fa.fa-github
                        Githubでログイン
                      %p &nbsp;
                      %a.btn.btn-lg.btn-block.btn-social.btn-yahoo.disabled{:href => '/user/auth/yahoo'}
                        %i.fa.fa-yahoo
                        Yahoo! IDでログイン
                      %p &nbsp;
                      %a.btn.btn-lg.btn-block.btn-social.btn-hatena{:href => '/user/auth/hatena', :style => 'color: #fff; background-color: #008fde;'}
                        %i.fa ?
                        はてなIDでログイン
                      %p &nbsp;
                      %a.btn.btn-lg.btn-block.btn-social.btn-mixi.disabled{:href => '/user/auth/mixi', :style => 'color: #fff; background-color: #ffa500;'}
                        %i.fa m
                        mixiでログイン

                    .social-buttons.visible-xs{:style => 'text-indent: initial'}
                      %p &nbsp;
                      %a.btn.btn-lg.btn-social-icon.btn-facebook{:href => '/user/auth/facebook'}
                        %i.fa.fa-facebook
                      %a.btn.btn-lg.btn-social-icon.btn-twitter{:href => '/user/auth/twitter'}
                        %i.fa.fa-twitter
                      %a.btn.btn-lg.btn-social-icon.btn-google{:href => '/user/auth/google'}
                        %i.fa.fa-google
                      %a.btn.btn-lg.btn-social-icon.btn-github{:href => '/user/auth/github'}
                        %i.fa.fa-github
                      %a.btn.btn-lg.btn-social-icon.btn-yahoo.disabled{:href => '/user/auth/yahoo'}
                        %i.fa.fa-yahoo
                      %a.btn.btn-lg.btn-social-icon.btn-hatena{:href => '/user/auth/hatena', :style => 'color: #fff; background-color: #008fde;'}
                        %i.fa ?
                      %a.btn.btn-lg.btn-social-icon.btn-mixi.disabled{:href => '/user/auth/mixi', :style => 'color: #fff; background-color: #ffa500;'}
                        %i.fa m
                      

                .clear_box

          
          .grid.col-md-4.col-sm-6
            .borders
              %a{:href => "http://hal.mu/"}
                .col-xs-12.nopadding
                  %img.img-responsive{:src => "/img/logout.png"}/
              .clear_box
