- get_terms.each do |term|
  - if Date.today.month == term[:month] && Date.today.year == term[:year]
    - border = "border-left: black; border-left-style: solid; border-right: black; border-right-style: solid; border-width: 1px; background-color: #C5AED3;"  
  - else
    - border = ""
  .nopadding.text-center.hidden-md.hidden-sm.hidden-lg{:style => "width: 100%; writing-mode: vertical-rl; font-size: 0.7em; overflow: hidden;" + border}= term[:month].to_s
  .nopadding.text-center.hidden-ms.hidden-xs{:style => "width: 100%; writing-mode: vertical-rl; font-size: 0.5em;" + border}= term[:month].to_s