%h1 団費清算情報
%p
  = form_tag '/fees/check', :mothod => :post, :class => "form-horizontal" do

    .form-group
      %label.col-sm-2.control-label 対象
      .col-sm-10
        = grouped_collection_select :user, :id, Part.all, :persons, :name, :id, :long_name, {:prompt => "人を選択"}, {:class => "form-control"}
    
    .actions
      %p.text-right
        = submit_tag '読み込み', :class => "btn btn-primary"

= render :partial => 'check_dtl'


