%h1 実施中の投票

- @campaigns.each do |c|
  .col-sm-12
    .col-xs-12.col-sm-4
      - if Vote.where(:user_id => current_user.id, :campaign_id => c.id).count > 0
        %i.text-success.fa.fa-check
      = c.name
    .col-xs-12.col-sm-6
      = simple_format c.desc
    .col-xs-12.col-sm-2.text-right
      = link_to ">>投票", c
%p &nbsp;
%p &nbsp;
