

  .guide hr {
    margin: 50px 0;
    background-color: transparent;
    &:after{
      content: "";
      display: block;
      border-top-style: ridge;
    }
  }
  .guide h1, h2, h3, h4, h5 {
    font-weight: normal;
    border-color: #666;
  }
  .guide h1 {
    font-size: 35px;
    border: none;
    margin: 30px auto;
    text-align: center;
    letter-spacing: 5px
  }
  .guide h2 {
    font-size: 25px;
    letter-spacing: 3px;
    margin: 50px auto 25px;
  }
  .guide h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 15px;

  }

  .guide h4 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 20px;
  }

  .guide h5 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 25px;
  }

  .guide p, table, ul, ol, dl, pre, blockquote {
    font-size: 13px;
    margin-left: 25px;
    text-indent: 1em;
}
  .guide   ul, ol, dl {
      margin-left: 0px;
    }
  
  .guide table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 800px;
  .guide   th {
      text-align: center;
      background-color: #eee;
      border-color: #666;
    }
  .guide   tr {
      border-top: #666;
    }
  .guide   td {
      border-color: #666;
    }
  }
  .guide .margin-clear {
    margin-left: 0;
  }
  .guide .center {
    text-align: center;
    &:extend(.margin-clear);
  }
  // テキストの右寄せ
  .guide .right {
    text-align: right;
    &:extend(.margin-clear);
  }
