html,body {
	height: 100%;
}

.container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	transition: height ease 2s, opacity ease 2s;
}

.ease {
	transition: height ease 2s, opacity ease 2s;
}

.title {
	width: 100%;
}

.teams {
	display: flex;
	flex-direction: row;
	height: 400px;
	width: 100%;
}

.team {
	vertical-align: middle;
	width: 25%;
	height: auto;
	font-size: 50px;
	transition: -webkit-filter ease 0.5s, font-size ease 0.5s, box-shadow 0.5s, color 0.5s;
	align-items: center;
	display: flex;
	justify-content: center;
	background-position: center;
	background-size: cover;
	-webkit-filter: grayscale(100%);
}

.team:hover, .team-hovered {
	-webkit-filter: grayscale(0%);
	font-size: 80px;
	box-shadow: 0 0 5px 0 #777;
}

.display-point {
	font-size: 150px;
	height: 200px;
	line-height: 150px;
	color: red;
	font-weight: bold;
	transition: height ease 1s;
}

.team > p {
	font-size: inherit;
	text-align: center;
	transition: -webkit-filter ease 0.5s, font-size ease 0.5s, text-shadow 0.5s, color 0.5s;cursor: pointer;
	cursor: pointer;
}

.team:hover > p {
text-shadow: 0 -1px 1px #FFF,
    	-1px 0 3px #FFF,
    	1px 0 3px #FFF,
    	0 1px 3px #FFF,
    	1px 1px 1px #000,
    	2px 2px 2px #000,
    	3px 3px 3px #000;
	font-weight: bold;
}

.a {
	background-image: url("/img/gesture/a.jpg");
}

.b {
	background-image: url("/img/gesture/b.jpg");
}

.c {
	background-image: url("/img/gesture/c.jpg");
}

.d {
	background-image: url("/img/gesture/d.jpg");
}

.e {
	background-image: url("/img/gesture/e.jpg");
}

.f {
	background-image: url("/img/gesture/f.jpg");
}

.g {
	background-image: url("/img/gesture/g.jpg");
}

.h {
	background-image: url("/img/gesture/h.jpg");
}

.height-hidden {
	height: 0 !important;
	opacity: 0 !important;
}

.invisible {
	opacity: 0 !important;
}

.timer {
	position: absolute;
	top: 0;
	right: 0;
	text-align: right;
	font-family: monospace; 
	font-size: 150px;
	opacity: inherit;
	line-height: 150px
}

.count {
	position: absolute;
	top: 0;
	left: 0;
	font-family: monospace;
	font-size: 150px;
	opacity: inherit;
	line-height: 150px;
}

.image {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0.6;
	top: 0;
	left: 0;
	z-index: -100;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.subject {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -50;
	align-items: center;
	display: flex;
}

.subject p {
	font-size: 120px;
	width: 100%;
	text-align: center;
	text-shadow: 0 0 1px white,
	0 0 5px white,
	0 0 10px white,
	0 0 15px white,
	0 0 20px white,
	0 0 25px white,
	0 0 30px white,
	0 0 40px white,
	0 0 50px white;
}

.start-button {
	font-size: 50px;
	line-height: 50px;
	cursor: pointer;
}

.start {
	z-index: 100;
}

.stage {
	z-index: 50;
}
