%table{:border => "0", :width => "500"}
  - priv_date = nil
  - cnt = 0
  - @list.each do |item|
    - if item[:update] < Date::today - 30
      - next
    - if priv_date.nil? || priv_date != item[:update].strftime('%m/%d')
      - priv_date = item[:update].strftime('%m/%d')
      %tr
        %td= priv_date
    - cnt += 1
    %tr
      %td
        %table{:border => "0", :width => "500"}
          %tr
            %td{:width => "20"}  
            %td{:width => "480"}
              = item[:title]
          %tr
            %td{:width => "20"}  
            %td{:width => "480"}
              %audio{:controls => "", :preload => "", :src => "http://priv.hal.mu/sharedfiles/" + item[:file]}
                audio タグ未対応です。
                %a{:href => "http://priv.hal.mu/sharedfiles/" + item[:file]}> ここ
                をクリックすると聞けます。
  - if cnt == 0
    %p …直近の録音はありません