%table{:border => "0", :width => '100%'}
  - priv_date = nil
  - isFirst = true
  - cnt = 0
  - @list.each do |item|
    - if item[:update] < Date::today - 30
      - next
    - if priv_date.nil? || priv_date != item[:update].strftime('%m/%d')
      - priv_date = item[:update].strftime('%m/%d')
      - if !isFirst
        - break
      - isFirst = false
      %h4= priv_date
    - cnt += 1
    %p= item[:title]
    %audio{:controls => "", :preload => "", :src => "http://hal.mu/" + item[:file], :style => "width:260px"}
      audio タグ未対応です。
      %a{:href => "http://hal.mu/" + item[:file]}> ここ
      をクリックすると聞けます。
  - if cnt == 0
    %p …直近の録音はありません